# ==================================
# 1. Виртуальное окружение
# (Не должно быть на GitHub)
# ==================================
venv/
.venv/
envs/
*.egg-info/

# ==================================
# 2. Файлы Python (Служебные)
# ==================================
# Скомпилированные байт-коды
__pycache__/
*.pyc

# ==================================
# 3. Файлы, генерируемые при работе API
# (Логи, результаты)
# ==================================
# Логи сервера
api_log.log

# тестовый файл
heart_test.csv